<div class="row justify-content-center">
  <div class="col-auto p-4 mt-4 bg-light">
    <form [formGroup]="addCategoryForm" (ngSubmit)="saveCategory()">
      <div class="mb-3">
        <label for="nameControl" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="nameControl"
          formControlName="name"
        />
        <div
          *ngIf="name && name.invalid && (name.dirty || name.touched)"
          class="alert alert-danger mt-4"
        >
          <div *ngIf="name.errors?.['required']">Name is required.</div>
        </div>
      </div>
      <button class="btn btn-primary" [disabled]="addCategoryForm.invalid">
        Save category
      </button>
    </form>
  </div>
</div>
