<div class="row justify-content-center">
  <div class="col-auto p-4 mt-4 bg-light">
    <div class="mb-3">
      <label for="emailControl" class="form-label">Email address</label>
      <input type="email" class="form-control" id="emailControl" />
    </div>
    <div class="mb-3">
      <label for="passwordControl" class="form-label">Password</label>
      <input type="password" class="form-control" id="passwordControl" />
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
  </div>
</div>
