<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex">
        <li *ngIf="!loggedIn" class="nav-item">
          <a routerLink="/login" routerLinkActive="active" class="nav-link"
            >Log in</a
          >
        </li>
        <li *ngIf="loggedIn" class="nav-item">
          <a (click)="logOut()" routerLinkActive="active" class="nav-link"
            >Log out</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
